/* CURRENTLY IN: styles/main.css */
/* nav styles */
body{
	background-color: rgb(87,50,31);
}
#navBar{
	font-size: 20px;
	width: 100%;
	padding:15px 0px;
	top: 0px;
	position: fixed;
	background-color: rgb(116,58,38);
}
#navList{
	overflow: hidden;
	list-style: none;
}

#title a, #navList li a{
	text-decoration: none;
	color: rgb(247,241,224);
}

#title{
	font-size: 30px;
	width: 40%;
	float: left;
	text-transform: uppercase;
	padding-left: 20px;
	font-weight: bold;
}

#navList li{
	float: right;
	margin-right:15px;
	padding-left: 15px;
	border-left: 1px rgb(247,241,224) solid;
}

#navList #first-nav-item{
	border: none;
}

/* end nav styles */
/* main images */

.large-image{
	margin-top: 50px;
	background: url("http://pushcartcoffee.com/img/slide6.jpg") no-repeat;
	background-size: 100%;
	height: 600px;
}